@font-face {
  font-family: 'lmroman';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/lmroman/lmroman10-regular.otf');
  src: url('fonts/lmroman/lmroman10-regular.otf') format('opentype');
}

@font-face {
  font-family: 'lmroman';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/lmroman/lmroman10-italic.otf');
  src: url('fonts/lmroman/lmroman10-italic.otf') format('opentype');
}

@font-face {
  font-family: 'lmroman';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/lmroman/lmroman10-bold.otf');
  src: url('fonts/lmroman/lmroman10-bold.otf') format('opentype');
}

@font-face {
  font-family: 'lmroman';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/lmroman/lmroman10-bolditalic.otf');
  src: url('fonts/lmroman/lmroman10-bolditalic.otf') format('opentype');
}
