@font-face {
  font-family: 'lmmonoprop';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/lmmonoprop/lmmonoprop10-regular.otf');
  src: url('fonts/lmmonoprop/lmmonoprop10-regular.otf') format('opentype');
}
